<html>
    <head>
        <title>Welcome Page</title>
        <style>
            body{
                background-color: rgb(255, 255, 255);
                color: blue;
                font-size: 30px;
            }
            button{
                width: 10rem;
                height : 10rem;
            }
        </style>
    </head>
    <body>
        <center><h1>Welcome :-)</h1></center>


        <button>
            <a href="http://localhost:3000/" >click here to start you problem practicing</a>
        </button>
  
    </body>

</html>